.leaderboard-container {
  h3 {
    background-color: #CF5C36;
  }

  .leaderboard-td,
  .leaderboard-th {
    border: none;
  }

  tr {
    &:first-child {
      .leaderboard-td  {
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    }

    .leaderboard-td  {
      color: white;
      font-family: 'Press Start 2P', cursive;
      font-size: 1em;
      letter-spacing: 2px;
      padding: 0.25em 0.5em;
    }
  }
}

