
.upgrade-container {
  background: white;
  display: table;
}

.upgrade {
  background: #fefffa;
  margin-left: -1px;
  margin-top: -2px;
}

.upgrade .btn img {
  background: #2E5266;
}

.upgrade .btn {
  background: #2E5266;
  margin: 1rem;
}

.upgrades h3 {
  background-color: #f5b741;
}

div.upgrade {
  float:left;
}

.btn {
  position: relative;
}
.btn::after {
  content: attr(value);
  position: absolute;
  bottom: 0px; left: 0;
  opacity: 0;
  font-size: 1em;
  font-weight: 300;
  line-height: 2em;
  padding: 0.5em 0.8em;
  background: rgba(0,0,0,0.8);
  color: #fff;
  pointer-events: none; /* This prevents the box from apearing when hovered. */
  transition: opacity 250ms, top 250ms;
}
.btn::before {
  content: '';
  display: block;
  position: absolute;
  top: 12px; left: 20px;
  opacity: 0;
  width: 0; height: 0;
  border: solid transparent 5px;
  border-bottom-color: rgba(0,0,0,0.8);
  transition: opacity 250ms, top 250ms;
}
.btn:hover {z-index: 2;} /* Keeps the info boxes on top of other elements */
.btn:hover::after,
.btn:hover::before {opacity: 1;}
.btn:hover::after {top: 30px;}
.btn:hover::before {top: 20px;}
