<div class="upgrades"><h3>Upgrades</h3>
  <div class="upgrade-container">
  <div *ngFor="let upgrade of availableUpgrades" class="upgrade {{upgrade.title}}">
    <div *ngIf="showBox && (clickedId === upgrade.id)" class="infobox">
      <button class="x-close" (click)="hideInfo(upgrade.id)">x</button>
      <span class="upgrade-title">{{upgrade.title}}</span><br>
      {{upgrade.description}}<br>
      <button class="btn upgrade-btn" (click)="onUpgradeClick(upgrade.id)">Upgrade!</button>
    </div>
    <img (click)="showinfo(upgrade.id)" class="upgrade-icon" src="{{upgrade.img}}" width="60px" height="60px">
    <span *ngIf="(upgrade.id === 9)" class="special-info">
      <p>Upgrade only available for 1min!</p>
    </span>
  </div>
  </div>
</div>



