.odometer_design {
  font-size: 1.5em;
  position: absolute;
  right: 2em;
  top: 35vh;
  z-index:30;
  background: black;
  border-radius: 10px;
  padding-right: 3px;
  color: #ebdbcd;

  &:after {
    content: 'm';
  }
}

@media screen and (min-width: 1000px) {
  .odometer_design {
    font-size: 2em;
  }
}

