<div class="car-container col-md-12">
  <div class="sky"></div>
  <div class="clouds"></div>
  <div class="mountains">
    <div class="mountain-shadow"></div>
  </div>
  <div class="road">
    <a (click)="onClick()" class="car active"><img  src="../assets/img/car.svg" class="car" alt="blue car" [@carTrigger]></a>
    <div class="road-lines"></div>
  </div>
  <div class="desert"></div>
  <img *ngIf="shown" src="../assets/img/pisa.png" class="italy">
  <!--img *ngIf="shown" src="../assets/img/colosseum.png" class="italy"-->
</div>
