/*********************
GAME START
*******************/
@import url('https://fonts.googleapis.com/css?family=Montserrat:800');

.start-container {
  z-index: 10000;
  background: rgba(25, 25, 25, .95);
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;

  .start_btn {
    font-style: 'Monserrat';
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 40vh;
    height: 10em;
    width: 10em;
    border-radius: 50%;
    border: none;
    background: #D00000;
    color: white;
    box-shadow: 2px 9px 2px #800E13;
    cursor: pointer;

    &:active {
      background-color: #800E13;
      box-shadow: 0 5px #800E13;
      transform: translateY(4px);
    }

  }
}

.car {
  z-index: 1000;
  margin: 0 auto;
  position: absolute;
  left: 27%;
  bottom: -0.5em;
  background:none;
}

img.car {
  width: 25vh;
}

/*********************
LAYOUT ROAD
*******************/


.game-container {
  height: 25vh;
  overflow: hidden;
  padding-left: 0;
}

.sky {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #416ba7 0%, #90bce3 50%);
  position: absolute;
}

.road {
  bottom: 0px;
  width: 100%;
  height: 20%;
  background: linear-gradient(to bottom, #4a483d 0%, #4c4f48 30%);
  position: absolute;
}

.road-lines {
  bottom: 0px;
  margin-bottom: 1%;
  width: 200%;
  height: 10%;
  background: repeating-linear-gradient(90deg, white 0%, white 10%, transparent 10%, transparent 20%);
  //animation: anim40 linear 4s;
  //animation-iteration-count: infinite;
  position: absolute;
}

.desert {
  width:100%;
  height:20%;
  background:linear-gradient(#FFDDA1, #F3B234);
  bottom:20%;
  position: absolute;
}

.mountains {
  background:#F0F0C9;
  background:linear-gradient(#F0F0C9,#E77728);
  width:200%;
  height:100px;
  bottom:40%;
  -webkit-clip-path: polygon(0% 62%, 4% 74%, 21% 18%, 24% 32%, 32% 0%, 50% 62%, 54% 74%, 71% 18%, 74% 32%, 82% 0%, 100% 62%, 100% 100%, 0 100%);
  animation: anim50 linear 60s;
  animation-iteration-count: infinite;
  overflow:hidden;
  position: absolute;

.mountain-shadow {
  width:100%;
  height:100%;
  background:#E77728;
  background:linear-gradient(#F0F0C9 0%, #E77728 50%);
  -webkit-clip-path: polygon(4% 74%, 9% 90%, 8% 80%, 14% 64%, 16% 46%, 20% 30%, 21% 18%, 24% 32%, 27% 42%, 31% 50%, 30% 20%, 32% 0%, 54% 74%, 59% 90%, 58% 80%, 64% 64%, 66% 46%, 70% 30%, 71% 18%, 74% 32%, 77% 42%, 81% 50%, 80% 20%, 82% 0%, 100% 0%, 0% 0%);
  position: absolute;
}
}

.clouds {
  width:100px;
  height:50px;
  border-radius:50%;
  box-shadow: 400px 60px 10px 0px #fff,
  350px 60px 10px 0px #fff,
  385px 40px 10px 0px #fff,
  1200px 60px 10px 0px #fff,
  1150px 60px 10px 0px #fff,
  1185px 40px 10px 0px #fff,

  850px 150px 12px 0px #fff,
  900px 130px 12px 0px #fff,
  1750px 150px 12px 0px #fff,
  1800px 130px 12px 0px #fff;
  opacity:0.3;
  animation: animcloud linear 80s;
  animation-iteration-count: infinite;
  position: absolute;
}

@keyframes anim40 {
  0% {transform: translate(0px, 0px);}
  100% {transform: translate(-40%, 0px);}
}

@keyframes anim50 {
  0% {transform: translate(0px, 0px);}
  100% {transform: translate(-50%, 0px);}
}

@keyframes animcloud {
  0% {transform: translate(0px, 0px);}
  100% {transform: translate(-900px, 0px);}
}




