<app-car
  (carClicked)="onCarClicked()"
  [distance]="distance"
  [ms]="ms"
></app-car>
<app-tachometer
  [clickCount]="clicks"
  [mc]="mc"
  [ms]="ms"
></app-tachometer>
<app-odometer
  [distance]="distance"
></app-odometer>

<div class="game-info">
  <app-leaderboard
  ></app-leaderboard>
  <app-achievement
    [userData]="userData"
    [clickCount]="clicks"
    [distance]="distance"
  ></app-achievement>
  <app-upgrade
    [userData]="userData"
    (upgradeClicked)="onUpgradeClicked($event)"
    [clickCount]="clicks"
    [distance]="distance"
  ></app-upgrade>
</div>
