<div class="game-container">
<app-car
  (carClicked)="onCarClicked()"
  [distance]="distance"
  [ms]="ms"
></app-car>
<app-tachometer
  [clickCount]="clicks"
  [mc]="mc"
  [ms]="ms"
></app-tachometer>
<app-odometer
  [distance]="distance"
></app-odometer>
<div class="username logout" (click)="logout()">
  {{user}}
  <i class="fa fa-sign-out" aria-hidden="true"></i>
</div>

  <div class="game-info col-md-12">
    <div class="col-md-4">
      <app-leaderboard></app-leaderboard>
    </div>
    <div class="col-md-4">
      <app-achievement
        [userData]="userData"
        [clickCount]="clicks"
        [distance]="distance"
        [user]="user"
      ></app-achievement>
    </div>
    <div class="col-md-4">
      <app-upgrade
        [userData]="userData"
        (upgradeClicked)="onUpgradeClicked($event)"
        [clickCount]="clicks"
        [distance]="distance"
      ></app-upgrade>
    </div>
  </div>
</div>
