.portrait_msg {
  opacity: 0.95;
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    color: red;
    font-family: 'Bungee', cursive;
    font-size: 1.5em;
    padding: 1em;
    text-align: center;
  }
}

.game-container {
  display: flex;
  flex-direction: column;

  .distanceAch {
    font-family: 'Bungee', cursive;
    text-align: center;
    text-decoration: none;
    transform: (perspective(2.5em) rotateX(9deg) scaleY(0.8));
    transition: (all 0.5s);
    text-transform: uppercase;
    line-height: 0.8;
    color: lighten(#edc405, 10%);
    text-shadow: 0 -1px 15px black,
    0 1px 0 adjust-hue(darken(indianred, 22%), -3deg),
    0 2px 0 adjust-hue(darken(indianred, 21%), -3deg),
    0 0px 0 adjust-hue(darken(indianred, 20%), -3deg),
    0 1px 0 adjust-hue(darken(indianred, 19%), -3deg),
    0 2px 0 adjust-hue(darken(indianred, 18%), -3deg),
    0 2px 30px transparentize(lighten(indianred, 20%), 0.4);

    &:hover {
      transform: (perspective(5em) rotateX(5deg) scaleY(1));
    }
  }

  .car-container {
    padding: 0;
  }

  .username {
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 1em;
    font-family: 'montserrat', 'arial', 'verdana', cursive;
    text-transform: uppercase;
    color: white;

    i.fa.fa-sign-out {
      color: white;
      font-size: 1.5em;
    }
  }

  .userMenu {
    position: absolute;
    background: #fff;
    text-align: center;
    padding: 20px;
    top: 2.5em;
    right: 1em;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    z-index: 30;

    button {
      font-family: 'montserrat', 'arial', 'verdana', cursive;
      text-transform: uppercase;
      outline: 0;
      background: #D1495B;
      width: 100%;
      border: 0;
      padding: 15px;
      color: #FFFFFF;
      font-size: 14px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      cursor: pointer;
      margin:5px;

      &:hover {
        opacity: 0.8;
      }

      &.logout {
        background: #4caf50;
      }
    }
  }

  .game-info {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1000px) {
  .game-container {
    .game-info {
      flex-direction: row;
    }
  }
}
