.game-container {
  display: flex;
  flex-direction: column;

  .username {
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 1em;
    font-family: 'montserrat', 'arial', 'verdana';
    text-transform: uppercase;
    color: white;

    i.fa.fa-sign-out {
      color: white;
      font-size: 1.5em;
    }
  }

  .game-info {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
  }
}


@media screen and (min-width: 1000px) {
  .game-container {
    .game-info {
      flex-direction: row;
    }
  }
}

