<div class="title"><img src="../assets/img/logo_v1.png" class="logo" alt="GlobeRacers80 Logo"></div>
<app-car (carClicked)="onCarClicked()"></app-car>
<app-tachometer
  [clickCount]="clicks"
  [mc]="mc"
  [ms]="ms"
></app-tachometer>
<app-upgrade
  (upgradeClicked)="onUpgradeClicked($event)"
  [clickCount]="clicks"
  [distance]="distance"
></app-upgrade>
<app-achievement
  [clickCount]="clicks"
  [distance]="distance"
></app-achievement>
<app-odometer
[distance]="distance"
></app-odometer>
<app-click-counter
  [clickCount]="clicks"
></app-click-counter>

