<!--div class="col-md-4">
  <div class="tachometers">
    <h3>Speed</h3>
    <div class="tachometer">
      <div class="meterPerClick">{{mpc}}m / Click</div>
      <div class="meterPerSecond">{{mSek}}m / s</div>
    </div>
  </div>
</div-->
<div class="tachosign-container">
<div id="tachometersign">
  <div class="ii">
    <div><b><span class="num_1">0</span></b></div>
    <div><b></b></div>
    <div><b><span class="num_2">1</span></b></div>
    <div><b></b></div>
    <div><b><span class="num_3">2</span></b></div>
    <div><b></b></div>
    <div><b><span class="num_4">3</span></b></div>
    <div><b></b></div>
    <div><b><span class="num_5">4</span></b></div>
    <div><b></b></div>
    <div><b><span class="num_6">5</span></b></div>
    <div><b></b></div>
    <div><b><span class="num_7">6</span></b></div>
    <div><b></b></div>
    <div><b><span class="num_8">7</span></b></div>
    <div><b></b></div>
    <div><b><span class="num_9">8</span></b></div>
  </div>
  <div id="redline"></div>
  <div class="line" [@test]='state'></div>
  <div class="pin"><div class="inner"></div></div>
  <div class="speed">
    <div class="meterPerClick">{{mpc}}m / Click</div>
    <div class="meterPerSecond">{{mSek}}m / s</div>
  </div>
</div>
</div>
