<app-logo-animation></app-logo-animation>
<div class="loginform_background" [@loginform]>
  <div class="loginform col-md-4 col-md-offset-4" >
    <h2 class="login-title">Welcome to GlobeRacers 80! </h2>
    <p>You've been challenged to get around the world in 80 days!
    All you got is a broken down car and a mighty strong finger.</p>
    <br>
    <p>Tap your car to push it further and further, collect upgrades and get achievements! Can you make it around the world?<br><br> Find out & get tapping:</p>
    <div class="loginRegistrationBtn">
    <button class="login-btn" routerLink="/login">Login</button><button class="login-btn" routerLink="/register">Register</button>
    </div>
  </div>
</div>
