/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.notes{
  clear: both;
  bottom:0;
  color:grey;
}

body {
  background: #4c4e45;
}


/**********************************
Info Boxes
**********************************/

/*** Speed, Achievements, Upgrades ****/

.achievements,
.upgrades,
.leaderboard {
  background: #fefffa;
  border-radius: 3px;
  margin: 1.5em;
  box-shadow: 5px 3px rgba(255, 255, 255, 0.2)
}



.achievements h3,
.upgrades h3,
.leaderboard h3 {
  text-align: center;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Bangers', cursive;
  font-size: 5rem;
  white-space: nowrap;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
  letter-spacing: 3px;
  transform: rotate(-2deg);
}


.upgrades,
.leaderboard {
  padding: 0.75px;
}


/********************************************
MEDIA QUERIES
 ******************************************/

#tachometersign {
  display: none;
}

@media screen and (min-width: 1000px) {
  body .title img.logo {
    width: 13em;
  }

  app-root app-car .game-container {
    height: 50vh !important;
  }
  app-car .game-container .road .car {
    width: 50vh;
    bottom: -1.5em;
  }

  /*********************
  TACHOMETER
  *******************/

  #tachometersign{
    background:#171717;
    width: 17.5em;
    height: 17.5em;
    box-shadow: inset 0px 0px 9px 3px rgba(0, 0, 0, 1);
    border-radius: 100%;
    display: block;
    position: absolute;
    left: 5%;
    z-index: 3;
  }


  .ii {
    position: absolute;
    width: 20;
    height: 20em;
    z-index: 2;
    div {
      position: absolute;
      width: 17.5em;
      height: 17.5em;
      padding:4px;
      box-sizing: border-box;
      b {
        position: absolute;
        display: block;
        left: 50%;
        width: 5px;
        height: 20px;
        background: #FFF;
        margin: 0 -5px 0;

      }
      &:nth-child(2n+1) b {
        width: 10px;
        height: 35px;
        margin: 0 -5px 0;
      }
      &:nth-child(1) {
        transform: rotate(240deg);
      }
      &:nth-child(2) {
        transform: rotate(255deg);
      }
      &:nth-child(3) {
        transform: rotate(270deg);
      }
      &:nth-child(4) {
        transform: rotate(285deg);
      }
      &:nth-child(5) {
        transform: rotate(300deg);
      }
      &:nth-child(6) {
        transform: rotate(315deg);
      }
      &:nth-child(7) {
        transform: rotate(330deg);
      }
      &:nth-child(8) {
        transform: rotate(345deg);
      }
      &:nth-child(9) {
        transform: rotate(0deg);/*---*/
      }
      &:nth-child(10) {
        transform: rotate(15deg);
      }
      &:nth-child(11) {
        transform: rotate(30deg);
      }
      &:nth-child(12) {
        transform: rotate(45deg);
      }
      &:nth-child(13) {
        transform: rotate(60deg);
      }
      &:nth-child(14) {
        transform: rotate(75deg);
      }
      &:nth-child(15) {
        transform: rotate(90deg);
      }
      &:nth-child(16) {
        transform: rotate(105deg);
      }
      &:nth-child(17) {
        transform: rotate(120deg);
      }

    }

  }

  [class^="num_"] {
    color:#FFF;
    display: block;
    position: absolute;
    width: 1em;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    text-decoration:none;

  }

  .num_1 {transform: rotate(120deg); top:20px; right:0}
  .num_2 {transform: rotate(90deg); top:30px; left:-10px}
  .num_3 {transform: rotate(60deg); top:30px;}
  .num_4 {transform: rotate(30deg); top:30px;}
  .num_5 {transform: rotate(0deg);  top:30px;left:-8px}
  .num_6 {transform: rotate(330deg); top:35px;left:-10px}
  .num_7 {transform: rotate(300deg); top:35px;left:-7px;}
  .num_8 {transform: rotate(270deg);top:30px; left:-10px}
  .num_9 {transform: rotate(240deg);top:30px;left:-5px}

  .line {
    background: #F14134;
    background-image: linear-gradient(to bottom, #F14134, #343536);
    height: 0;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 0;
    transform-origin: 50% 100%;
    margin: -125px -8px 0;
    padding: 125px 8px 0;
    z-index:2;
    border-radius: 50% 50% 0 0;
    transform:rotate(-120deg);
 //  animation: pendulum;
 //  animation-duration: 4s;
  }

  .pin {
    width: 50px;
    height: 50px;
    left:50%;
    top:50%;
    margin: -25px 0 0 -25px;
    background-color: #343536;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to bottom, #F14134, #343536);
    z-index: 4;
  }


  .inner {
    width: 30px;
    height: 30px;
    margin: 10px auto 0;
    background-color: #343536;
    border-radius: 100%;
    box-shadow: inset 0 8px 15px 0 rgba(167, 23, 10, 0.4);
    position: relative;
  }



@keyframes pendulum {
  10% {
    transform:rotate(-90deg);
  }

  /*****
    11% {
      transform:rotate(98deg);
    }
    12% {
      transform:rotate(96deg);
    }
    13% {
      transform:rotate(98deg);
    }
    14% {
      transform:rotate(96deg);
    }
    15% {
      transform:rotate(98deg);
    }
    16% {
      transform:rotate(96deg);
    }
    17% {
      transform:rotate(98deg);
    }
    18% {
      transform:rotate(96deg);
    }
    19% {
      transform:rotate(98deg);
    }
      ****/


    }

}
