/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.notes{
  clear: both;
  bottom:0;
  color:grey;
}

body {
  background: #4c4e45;
}


/**********************************
Info Boxes
**********************************/

/*** Speed, Achievements, Upgrades ****/

.achievements,
.upgrades,
.leaderboard {
  background: #fefffa;
  border-radius: 3px;
  margin: 1.5em;
  box-shadow: 5px 3px rgba(255, 255, 255, 0.2)
}



.achievements h3,
.upgrades h3,
.leaderboard h3 {
  text-align: center;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Bangers', cursive;
  font-size: 5rem;
  white-space: nowrap;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
  letter-spacing: 3px;
  transform: rotate(-2deg);
}


.upgrades,
.leaderboard {
  padding: 0.75px;
}


/********************************************
MEDIA QUERIES
 ******************************************/

@media screen and (min-width: 1000px) {
  body .title img.logo {
    width: 13em;
  }

  app-root app-car .game-container {
    height: 50vh !important;
  }
  app-car .game-container .road .car {
    width: 50vh;
    bottom: -1.5em;
  }

}
