.achievements {
  h3 {
    background-color: #eba565;
  }

  .achievement_title,
  .achievement {
    border: none;
  }

  .achievement {
    font-family: 'Boogaloo', cursive;;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 3px;
    color: white;
    display: block;
   /* animation: pop-out 4s ease-in-out;*/
    margin: 0;
    opacity: 1;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
  }
}
@keyframes pop-out {
  0% {
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 1;
  }
  25% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale3d(1.5, 1.5, 1);
    transform: scale3d(1.5, 1.5, 1);
    opacity: 0;
  }
}

