<div class="achievementsPopup">
  <img src="../../assets/img/star.svg" >
  <div class="achievementCover"></div>
</div>
<div class="achievements">
  <table class="table">
    <thead>
      <tr>
        <th class="achievement_title"><h3>Achievements</h3></th>
      </tr>
    </thead>
    <tbody *ngIf="userAchievements">
      <tr *ngFor="let achievement of (userAchievements); let i = index;">
        <td class="achievement" *ngIf="i<3">{{achievement}}</td>
      </tr>
    </tbody>
  </table>
</div>
