@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Boogaloo');

.click h3 {
  background-color: #CF5C36;
}

.counter {
  font-size: 1.5em;
  font-family: 'Boogaloo', cursive;
  text-align: center;
}

